<h1>Cam's Ruby on Rails App</h1>

<p><%= link_to "Local Host", about_path %> | <a href="http://hollow-mountain-92.heroku.com/about">Live Heroku App</a></p>

<h3>Thing's to help Cam:</h3>
<p>commit to git</p>
<ul>
	<li>$ git add .></li>
	<li>$ git commit -m "notes here"</li>
	<li>$ git checkout master<li>
	<li>$ git merge branch-name<li>
</ul>
<p>push to heroku</p>
<ul>
	<li>$ git push</li>
	<li>$ git push heroku</li>
</ul>
