<h1>The farmers behind this ripeness</h1>
<br>
<h3>Examples of styles and elements for reference</h3>
<br>
<h4>Tables</h4>
<p><a href="http://www.funjai.com">cam's tumblr</a> | <a href="http://jeremiahboyle.com/">jeremiah's tumblr</a></p>
<br>
<h4>Tabbed Content</h4>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Eat Local</a></li>
    <li><a href="#2" data-toggle="tab">Eat Ripe</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="1">
      <p>Local is the bomb for so many reasons</p>
    </div>
    <div class="tab-pane" id="2">
      <p>Find out what's ripe in your area. The best places to forage and go out to eat.</p>
    </div>
  </div>
</div>
</br>
<h4>Nav List</h4>
<br>
<div class="row">
<div class="span3">
<ul class="nav nav-list">
  <li class="nav-header">
    Ways to find out what's ripe
  </li>
  <li class="active">
    <a href="#">Close to You</a>
  </li>
  <li>
    <a href="#">By Season</a>
  </li>
  <li>
    <a href="#">Live Feed</a>
  </li>
</ul>
</div>
<div class="span3">
<ul class="nav nav-list">
  <li class="nav-header">
    Ways to find out what's ripe
  </li>
  <li class="active">
    <a href="#">Close to You</a>
  </li>
  <li>
    <a href="#">By Season</a>
  </li>
  <li>
    <a href="#">Live Feed</a>
  </li>
</ul>
</div>
</div>