<h1>Eat Local. Eat Ripe.</h1>

<h2>users here:</h2>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<h3>Brought to you by:</h3>
<br>
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#1" data-toggle="tab">Cam</a></li>
	    <li><a href="#2" data-toggle="tab">Jeremiah</a></li>
	  </ul>
	  <div class="tab-content">
	    <div class="tab-pane active" id="1">
	      <a href="http://www.funjai.com">cam's tumblr</a>
	    </div>
	    <div class="tab-pane" id="2">
	      <a href="http://jeremiahboyle.com/">jeremiah's tumblr</a>
	    </div>
	  </div>
	</div>