<h1>Photos of Bay Area Nature, Night Scenes and Mushrooms</h1>

<p>For now you can visit my photos here <a href="http://humblephoto.com/">Cam's Humble Photos</a></p>

<script type="text/javascript">
     $(window).load(function() {
         $('#featured').orbit();
     });
</script>

<div style="width: 500px; height: 400px; margin-left: auto; margin-right: auto;">
<div id="featured">
<%= image_tag("slider/tam.jpeg", :alt => "Cam Fortin") %>
<%= image_tag("slider/view.jpeg", :alt => "Cam Fortin") %>
<%= image_tag("slider/moss.jpeg", :alt => "Cam Fortin") %>
</div>
</div>

