<footer>
	<nav class="round">
		<ul>
			 <li><%= link_to "About", about_path %></li>
		     <li><%= link_to "Contact", contact_path %></li>
		     <li><%= link_to "Sign In", signup_path %></li>
		     <li><a href="http://twitter.com/#!/CamFortin">@CamFortin</a></li>
	    </ul>
	</nav>
</footer>